<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <title>My page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Shut Up</h2>
            <p class="lead">
                用于规避基于关键词的文本内容审查
            </p>
        </div>
        <div class="row">
            <div class="col">
                <div class="alert alert-primary" role="alert">
                    更多功能正在 <a href="https://github.com/kallydev/shutup">GitHub</a> 开发，欢迎发起 PR
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="/result" method="post">
                            <div class="form-group">
                                <textarea name="content" class="form-control" aria-label="editor" rows="4"
                                          placeholder="输入需要混淆的文本"></textarea>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="zero-width_space" checked
                                       disabled>
                                <label class="form-check-label">零宽空格</label>
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">混淆</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer mt-auto py-3 text-muted text-center text-small">
    <div class="container">
        <p class="mb-1">Developed with <span style="color: #F44336; font-size: 20px;">♥</span> by KallyDev</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://github.com/kallydev/shutup">GitHub</a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/kallydev/shutup/blob/master/LICENSE">License</a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/kallydev/shutup/blob/master/README.md">Help</a>
            </li>
        </ul>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
